<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.childphone" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChildPhone</name>
    <description>Детское приложение с режимом киоска.</description>
    <author email="dev@example.com" href="https://example.com">Child Phone Team</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <feature name="Kiosk" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
